<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chatbot{% endblock %}</title>
    <!-- Link to compiled CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <h1>{% block header %}Chatbox{% endblock %}</h1>
    </header>

    <div id="chat-container">
        {% block content %}
        <!-- Specific content for each page will go here -->
        {% endblock %}
    </div>

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>