{% extends "base.html" %}
{% block title %}Alembic - sign up{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename="css/signup.css")}}" />
<header>
    <h2>Alembic</h2>
</header>
{% endblock %}
{% block body %}
<div class="container">
    <h1>
        Sign Up
    </h1>
    <form id="auth-form" action="{{ url_for('chat.register') }}" method="post" onsubmit="return validateForm()" novalidate>
        <span id="usernameError" class="error-message"></span>
        <!-- Username Field -->
        <input 
            type="text" 
            id="username" 
            name="username" 
            placeholder="Username"
            class="input-field"
            required
            minlength="3"
            maxlength="15"
            pattern="^[a-zA-Z0-9]+$"
        />
        
        <span id="emailError" class="error-message"></span>
        <!-- Email Field -->
        <input
            type="email" 
            id="email"
            name="email" 
            placeholder="Email"
            class="input-field"
            required
            maxlength="254"
        />  
        
        <span id="passwordError" class="error-message"></span>
        <!-- Password Field -->
        <input 
            type="password" 
            id="password" 
            name="password" 
            placeholder="Password" 
            class="input-field"
            required
            minlength="8"
        />
        
        <span id="confirmPasswordError" class="error-message"></span>
        <!-- Confirm Password Field -->
        <input 
            type="password" 
            id="confirm-password" 
            name="confirm-password" 
            placeholder="Confirm Password" 
            class="input-field"
            required
            minlength="8"
        />
        
        <!-- Submit Button -->
        <input 
            type="submit" 
            value="Continue" 
            class="input-field button" 
        />
    </form>    
    <h3>
        Already have an account? <a href="{{url_for('chat.home')}}">Login</a>.
    </h3>
</div>
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}